html{
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    width: 100vw;
}
 /*Navigation CSS  */
ul{
    list-style-type: none;
   
    padding: 0;
    margin: 0;
}
/*padding*/

body{
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container{
  
   display:flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 75px;
    margin: 0;
       height: 50px;
 

}

header{
    color: #1F2937;
    background-color: white;
    
    margin: 0;
}

.logo{

        margin: 0;
    font-size: 24px;
    font-weight: 900px;
}

.nav{
        margin: 0;

  display: flex;
  justify-content: space-between;
  gap: 25px;
}




/* Hero Section */
.hero{
    display: flex;
    background-color: #1F2937;
    height: 280px;
    width:auto;
    color: #E5E7EB;
    padding:85px 75px;
    
}

.hero-heading{
 margin:0;
  padding-bottom: 10px;
    font-size:48px;
    font-weight: 900;
    
}
.hero-subheading{
    font-size: 18px;
      margin: 0px;
       padding-bottom: 10px;


}
.hero-img{
  height: 230px
}

.left-side{
  display:flex;
  flex-direction: column;
  justify-content: end;
  
  

  
  
}
.right-side{

  display:flex;
  justify-content: end;
  align-items: end;
  margin:0px;
  padding:0px 0px 40px 40px;
}
.btn-sign1, .btn-sign2{
  background: #3882F6;
  color: #E5E7EB;
  border: 0;
  padding: 10px;
  width:100px;
  border-radius: 5px;
}

/*content*/

.content{
  padding:10px 75px 25px 75px;
}

.content-heading{
  display: flex;
  justify-content: center;
  font-size: 36px;
  
}

.content-container{
  
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: start;
 
}

.img-holder{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width:250px;
  margin:10px;
  padding:10px;

}

.img-description{
  display:flex;
  margin:10px;
  padding: 10px 25px;
  flex-wrap: wrap;
  text-align: justify;
}

.img-holder img{
  

  border: 5px solid royalblue ;
  background: royalblue;
  border-radius: 15px;
  height: 200px;
  width:200px;
  object-fit: cover;
}








/*quote*/

.quote-section{
  display:flex;
  flex-direction: column;
  background: #E5E7EB;
  padding: 100px 75px;
}

.quote{
font-size: 36px;
font-style:italic;
font-weight: 300;
 color: #1F2937;
 text-align: justify;
}

.author{
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 16px;
}


/*contact*/

.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px;
  flex: 1;
  
}

.blue-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: royalblue;
  width: 100%;
  border-radius: 5px;
  padding: 0 75px;
  font-size: 16px;
}

.p-call{
  padding-top: 20px;
  color: white;
  font-weight: bold;
  margin-bottom: -10px;
}

.p-sign-up{
  padding: -20px;
  color:white;
  font-size:12px;
  
}
.contact-left{
  display:flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: auto;
}


.btn-sign2{
  border-radius:5px;
  border: 3px solid white;
  margin: 35px;
  width: 120px;
  background:royalblue;
}




footer{
  display:flex;
  background: #1F2937;
  color: white;
  padding: 25px;
  justify-content:center;
  
}