html{
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}
 /*Navigation CSS  */
ul{
    list-style-type: none;
   
    padding: 0;
    margin: 0;
}
/*padding*/

.container{
   display:flex;
   align-items: center;
   justify-content: space-between;
   padding: 3px 75px;

}

header{
    color: royalblue;
    background-color: white;
    
   
    height: 50px;
}

.logo{
    
    font-size: 24px;
}

.nav{
  display: flex;
  justify-content: space-between;
  gap: 25px;
}




/* Hero Section */
.hero{
    display: flex;
    background-color: #1F2937;
    height: 500px;
    color: #E5E7EB;
    padding: 18px;
}

.hero-heading{
  padding: 0px;
    font-size:48px;
    font-weight: 900;
}
.hero-subheading{
    font-size: 18px;
}
.hero-img{
  height: 250px
}

.left-side{
  display:flex;
  flex-direction: column;
  padding:20px;
}
.right-side{
  display:flex;
  justify-content: center;
  align-items: center;
  padding:80px;
}
.btn-sign1, .btn-sign2{
  background: #3882F6;
  color: #E5E7EB;
  border: 0;
  padding: 10px;
  width:100px;
}